In [1]:
import pandas as pd
import numpy as np

In [2]:
df_updateddataset = pd.read_csv("Updated_dataset.csv")
df_updateddataset

,Entity,Code,Year,"Air pollution (total) (deaths per 100,000)","Indoor air pollution (deaths per 100,000)","Outdoor particulate matter (deaths per 100,000)","Outdoor ozone pollution (deaths per 100,000)",Entity-1,Year-1,Population,GDP,Urbanization Rate,Energy Consumption,Air Quality Index (AQI),Healthcare Expenditure,Legislation and Policy Index,Country_section,Country_states
0,Afghanistan,AFG,1990,299.477309,250.362910,46.446589,5.616442,Afghanistan,1990,75934668,63442.13270,47.877800,839.110468,313,6.645635,4,Alpha,366
1,Afghanistan,AFG,1991,291.277967,242.575125,46.033841,5.603960,Afghanistan,1991,2715104,34593.95528,87.022508,6195.141279,146,10.223338,9,Delta,296
2,Afghanistan,AFG,1992,278.963056,232.043878,44.243766,5.611822,Afghanistan,1992,39212131,90874.61961,14.139421,5310.797245,434,19.490514,3,Beta,695
3,Afghanistan,AFG,1993,278.790815,231.648134,44.440148,5.655266,Afghanistan,1993,61469723,23043.64896,66.927845,1522.477796,163,12.482958,8,Alpha,577
4,Afghanistan,AFG,1994,287.162923,238.837177,45.594328,5.718922,Afghanistan,1994,59054051,25130.55557,41.840172,1889.894580,264,12.935274,8,Delta,234
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6463,Zimbabwe,ZWE,2013,143.850145,113.456097,27.589603,4.426291,Zimbabwe,2013,11851497,41783.32805,38.004104,389.711295,305,13.006699,4,Delta,636
6464,Zimbabwe,ZWE,2014,138.200536,108.703566,26.760618,4.296971,Zimbabwe,2014,63950977,39042.27944,45.130959,4938.414457,451,19.492940,3,Alpha,924
6465,Zimbabwe,ZWE,2015,132.752553,104.340506,25.715415,4.200907,Zimbabwe,2015,70649466,15724.10319,45.663262,4296.564784,394,12.830348,3,Beta,255
6466,Zimbabwe,ZWE,2016,128.692138,100.392287,25.643570,4.117173,Zimbabwe,2016,99104457,88338.47685,23.937299,4023.976918,79,18.572419,9,Delta,101
6467,Zimbabwe,ZWE,2017,125.028843,96.235996,26.166182,4.052495,Zimbabwe,2017,48926143,37940.48171,44.454243,365.599857,249,12.219859,9,Gamma,910

In [3]:
df_updateddataset.columns

Index(['Entity', 'Code', 'Year', 'Air pollution (total) (deaths per 100,000)',
       'Indoor air pollution (deaths per 100,000)',
       'Outdoor particulate matter (deaths per 100,000)',
       'Outdoor ozone pollution (deaths per 100,000)', 'Entity-1', 'Year-1',
       'Population', 'GDP', 'Urbanization Rate', 'Energy Consumption',
       'Air Quality Index (AQI)', 'Healthcare Expenditure',
       'Legislation and Policy Index', 'Country_section', 'Country_states'],
      dtype='object')

In [4]:
#As we can observe there are two year columns and entity columns. Checking whether the data in the columns are same. 
print(df_updateddataset['Entity'].equals(df_updateddataset['Entity-1']))

True

In [5]:
print(df_updateddataset['Year'].equals(df_updateddataset['Year-1']))

True

In [6]:
#True means the data of the corresponding columns matches. So, removing the duplicate columns Year-1, Entity-1 from the dataframe. 
df_updateddataset.drop(['Entity-1','Year-1'], axis=1, inplace=True)
df_updateddataset.head()

,Entity,Code,Year,"Air pollution (total) (deaths per 100,000)","Indoor air pollution (deaths per 100,000)","Outdoor particulate matter (deaths per 100,000)","Outdoor ozone pollution (deaths per 100,000)",Population,GDP,Urbanization Rate,Energy Consumption,Air Quality Index (AQI),Healthcare Expenditure,Legislation and Policy Index,Country_section,Country_states
0,Afghanistan,AFG,1990,299.477309,250.362910,46.446589,5.616442,75934668,63442.13270,47.877800,839.110468,313,6.645635,4,Alpha,366
1,Afghanistan,AFG,1991,291.277967,242.575125,46.033841,5.603960,2715104,34593.95528,87.022508,6195.141279,146,10.223338,9,Delta,296
2,Afghanistan,AFG,1992,278.963056,232.043878,44.243766,5.611822,39212131,90874.61961,14.139421,5310.797245,434,19.490514,3,Beta,695
3,Afghanistan,AFG,1993,278.790815,231.648134,44.440148,5.655266,61469723,23043.64896,66.927845,1522.477796,163,12.482958,8,Alpha,577
4,Afghanistan,AFG,1994,287.162923,238.837177,45.594328,5.718922,59054051,25130.55557,41.840172,1889.894580,264,12.935274,8,Delta,234

In [7]:
#As the dataset is related to the country and the year. Number of states doesn't contribute for the analysis and the visualization.Hence, removing unwanted columns from the dataframe
df_updateddataset.drop(['Country_section','Country_states'], axis=1, inplace=True)
df_updateddataset.head()

,Entity,Code,Year,"Air pollution (total) (deaths per 100,000)","Indoor air pollution (deaths per 100,000)","Outdoor particulate matter (deaths per 100,000)","Outdoor ozone pollution (deaths per 100,000)",Population,GDP,Urbanization Rate,Energy Consumption,Air Quality Index (AQI),Healthcare Expenditure,Legislation and Policy Index
0,Afghanistan,AFG,1990,299.477309,250.362910,46.446589,5.616442,75934668,63442.13270,47.877800,839.110468,313,6.645635,4
1,Afghanistan,AFG,1991,291.277967,242.575125,46.033841,5.603960,2715104,34593.95528,87.022508,6195.141279,146,10.223338,9
2,Afghanistan,AFG,1992,278.963056,232.043878,44.243766,5.611822,39212131,90874.61961,14.139421,5310.797245,434,19.490514,3
3,Afghanistan,AFG,1993,278.790815,231.648134,44.440148,5.655266,61469723,23043.64896,66.927845,1522.477796,163,12.482958,8
4,Afghanistan,AFG,1994,287.162923,238.837177,45.594328,5.718922,59054051,25130.55557,41.840172,1889.894580,264,12.935274,8

In [8]:
#Checking number of duplicated rows in the dataset 
df_updateddataset.duplicated().sum()

0

In [9]:
#Printing column names which contain null values and empty strings rows in the dataframe
empty_nan_columns = df_updateddataset.columns[(df_updateddataset.isnull() | (df_updateddataset == '')).any()].tolist()

print(empty_nan_columns)

['Code']

In [10]:
entities_with_empty_code = df_updateddataset[df_updateddataset['Code'].isnull() | (df_updateddataset['Code'] == '')]['Entity']

# Print the 'Entity' names
print(entities_with_empty_code)

112           Andean Latin America
113           Andean Latin America
114           Andean Latin America
115           Andean Latin America
116           Andean Latin America
                   ...
6351    Western Sub-Saharan Africa
6352    Western Sub-Saharan Africa
6353    Western Sub-Saharan Africa
6354    Western Sub-Saharan Africa
6355    Western Sub-Saharan Africa
Name: Entity, Length: 980, dtype: object

In [11]:
# Displaying the entities of DataFrame for rows where 'Code' is empty or NaN
entities_with_empty_code = df_updateddataset[df_updateddataset['Code'].isnull() | (df_updateddataset['Code'] == '')]['Entity']
distinct_entities = entities_with_empty_code.unique()
print(distinct_entities)
print(len(distinct_entities))

['Andean Latin America' 'Australasia' 'Caribbean' 'Central Asia'
 'Central Europe' 'Central Europe, Eastern Europe, and Central Asia'
 'Central Latin America' 'Central Sub-Saharan Africa' 'East Asia'
 'Eastern Europe' 'Eastern Sub-Saharan Africa' 'England' 'High SDI'
 'High-income' 'High-income Asia Pacific' 'High-middle SDI'
 'Latin America and Caribbean' 'Low SDI' 'Low-middle SDI' 'Middle SDI'
 'North Africa and Middle East' 'North America' 'Northern Ireland'
 'Oceania' 'Scotland' 'South Asia' 'Southeast Asia'
 'Southeast Asia, East Asia, and Oceania' 'Southern Latin America'
 'Southern Sub-Saharan Africa' 'Sub-Saharan Africa'
 'Tropical Latin America' 'Wales' 'Western Europe'
 'Western Sub-Saharan Africa']
35

In [12]:
#There are total 35 entities whose code is empty or null

In [13]:
#Generating the codes for the entities whose code is empty or null
def code_(entity):
    words = entity.split()
    code = ''.join(word[0] for word in words)
    return code.upper()

entities = ['Andean Latin America', 'Australasia', 'Caribbean', 'Central Asia',
            'Central Europe', 'Central Europe, Eastern Europe, and Central Asia',
            'Central Latin America', 'Central Sub-Saharan Africa', 'East Asia',
            'Eastern Europe', 'Eastern Sub-Saharan Africa', 'England', 'High SDI',
            'High-income', 'High-income Asia Pacific', 'High-middle SDI',
            'Latin America and Caribbean', 'Low SDI', 'Low-middle SDI', 'Middle SDI',
            'North Africa and Middle East', 'North America', 'Northern Ireland',
            'Oceania', 'Scotland', 'South Asia', 'Southeast Asia',
            'Southeast Asia, East Asia, and Oceania', 'Southern Latin America',
            'Southern Sub-Saharan Africa', 'Sub-Saharan Africa',
            'Tropical Latin America', 'Wales', 'Western Europe',
            'Western Sub-Saharan Africa']

entity_codes = {entity: code_(entity) for entity in entities}

for entity, code in entity_codes.items():
    print(f"{entity} - {code}")

Andean Latin America - ALA
Australasia - A
Caribbean - C
Central Asia - CA
Central Europe - CE
Central Europe, Eastern Europe, and Central Asia - CEEEACA
Central Latin America - CLA
Central Sub-Saharan Africa - CSA
East Asia - EA
Eastern Europe - EE
Eastern Sub-Saharan Africa - ESA
England - E
High SDI - HS
High-income - H
High-income Asia Pacific - HAP
High-middle SDI - HS
Latin America and Caribbean - LAAC
Low SDI - LS
Low-middle SDI - LS
Middle SDI - MS
North Africa and Middle East - NAAME
North America - NA
Northern Ireland - NI
Oceania - O
Scotland - S
South Asia - SA
Southeast Asia - SA
Southeast Asia, East Asia, and Oceania - SAEAAO
Southern Latin America - SLA
Southern Sub-Saharan Africa - SSA
Sub-Saharan Africa - SA
Tropical Latin America - TLA
Wales - W
Western Europe - WE
Western Sub-Saharan Africa - WSA

In [14]:
#Replacing the empty rows of the code of corresponding entity with the above generated codes
for entity, code in entity_codes.items():
    df_updateddataset.loc[df_updateddataset['Entity'] == entity, 'Code'] = df_updateddataset.loc[df_updateddataset['Entity'] == entity, 'Code'].fillna(code).replace('', code)

df_updateddataset

,Entity,Code,Year,"Air pollution (total) (deaths per 100,000)","Indoor air pollution (deaths per 100,000)","Outdoor particulate matter (deaths per 100,000)","Outdoor ozone pollution (deaths per 100,000)",Population,GDP,Urbanization Rate,Energy Consumption,Air Quality Index (AQI),Healthcare Expenditure,Legislation and Policy Index
0,Afghanistan,AFG,1990,299.477309,250.362910,46.446589,5.616442,75934668,63442.13270,47.877800,839.110468,313,6.645635,4
1,Afghanistan,AFG,1991,291.277967,242.575125,46.033841,5.603960,2715104,34593.95528,87.022508,6195.141279,146,10.223338,9
2,Afghanistan,AFG,1992,278.963056,232.043878,44.243766,5.611822,39212131,90874.61961,14.139421,5310.797245,434,19.490514,3
3,Afghanistan,AFG,1993,278.790815,231.648134,44.440148,5.655266,61469723,23043.64896,66.927845,1522.477796,163,12.482958,8
4,Afghanistan,AFG,1994,287.162923,238.837177,45.594328,5.718922,59054051,25130.55557,41.840172,1889.894580,264,12.935274,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6463,Zimbabwe,ZWE,2013,143.850145,113.456097,27.589603,4.426291,11851497,41783.32805,38.004104,389.711295,305,13.006699,4
6464,Zimbabwe,ZWE,2014,138.200536,108.703566,26.760618,4.296971,63950977,39042.27944,45.130959,4938.414457,451,19.492940,3
6465,Zimbabwe,ZWE,2015,132.752553,104.340506,25.715415,4.200907,70649466,15724.10319,45.663262,4296.564784,394,12.830348,3
6466,Zimbabwe,ZWE,2016,128.692138,100.392287,25.643570,4.117173,99104457,88338.47685,23.937299,4023.976918,79,18.572419,9
6467,Zimbabwe,ZWE,2017,125.028843,96.235996,26.166182,4.052495,48926143,37940.48171,44.454243,365.599857,249,12.219859,9

In [15]:
#Checking column names which contain null values and empty strings rows in the dataframe after updating
empty_nan_columns = df_updateddataset.columns[(df_updateddataset.isnull() | (df_updateddataset == '')).any()].tolist()
print(empty_nan_columns)

[]

In [16]:
#Empty list indicates that there are no rows in the columns which contain nan or empty rows.

In [17]:
#Importing the ccleaned data as csv. Downloading dataframe as CSV
df_updateddataset.to_csv('C:/Users/Checkout/DV_Project/Cleaneddata.csv', index=False)

In [18]:
#Displaying the downloaded cleaned data in the dataframe
df_cleaneddata = pd.read_csv("Cleaneddata.csv")
df_cleaneddata

,Entity,Code,Year,"Air pollution (total) (deaths per 100,000)","Indoor air pollution (deaths per 100,000)","Outdoor particulate matter (deaths per 100,000)","Outdoor ozone pollution (deaths per 100,000)",Population,GDP,Urbanization Rate,Energy Consumption,Air Quality Index (AQI),Healthcare Expenditure,Legislation and Policy Index
0,Afghanistan,AFG,1990,299.477309,250.362910,46.446589,5.616442,75934668,63442.13270,47.877800,839.110468,313,6.645635,4
1,Afghanistan,AFG,1991,291.277967,242.575125,46.033841,5.603960,2715104,34593.95528,87.022508,6195.141279,146,10.223338,9
2,Afghanistan,AFG,1992,278.963056,232.043878,44.243766,5.611822,39212131,90874.61961,14.139421,5310.797245,434,19.490514,3
3,Afghanistan,AFG,1993,278.790815,231.648134,44.440148,5.655266,61469723,23043.64896,66.927845,1522.477796,163,12.482958,8
4,Afghanistan,AFG,1994,287.162923,238.837177,45.594328,5.718922,59054051,25130.55557,41.840172,1889.894580,264,12.935274,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6463,Zimbabwe,ZWE,2013,143.850145,113.456097,27.589603,4.426291,11851497,41783.32805,38.004104,389.711295,305,13.006699,4
6464,Zimbabwe,ZWE,2014,138.200536,108.703566,26.760618,4.296971,63950977,39042.27944,45.130959,4938.414457,451,19.492940,3
6465,Zimbabwe,ZWE,2015,132.752553,104.340506,25.715415,4.200907,70649466,15724.10319,45.663262,4296.564784,394,12.830348,3
6466,Zimbabwe,ZWE,2016,128.692138,100.392287,25.643570,4.117173,99104457,88338.47685,23.937299,4023.976918,79,18.572419,9
6467,Zimbabwe,ZWE,2017,125.028843,96.235996,26.166182,4.052495,48926143,37940.48171,44.454243,365.599857,249,12.219859,9

In [19]:
df_cleaneddata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6468 entries, 0 to 6467
Data columns (total 14 columns):
 #   Column                                           Non-Null Count  Dtype
---  ------                                           --------------  -----
 0   Entity                                           6468 non-null   object
 1   Code                                             6440 non-null   object
 2   Year                                             6468 non-null   int64
 3   Air pollution (total) (deaths per 100,000)       6468 non-null   float64
 4   Indoor air pollution (deaths per 100,000)        6468 non-null   float64
 5   Outdoor particulate matter (deaths per 100,000)  6468 non-null   float64
 6   Outdoor ozone pollution (deaths per 100,000)     6468 non-null   float64
 7   Population                                       6468 non-null   int64
 8   GDP                                              6468 non-null   float64
 9   Urbanization Rate                                6468 non-null   float64
 10  Energy Consumption                               6468 non-null   float64
 11  Air Quality Index (AQI)                          6468 non-null   int64
 12  Healthcare Expenditure                           6468 non-null   float64
 13  Legislation and Policy Index                     6468 non-null   int64
dtypes: float64(8), int64(4), object(2)
memory usage: 707.6+ KB